<%= form_for(:product, @product, form_url) do |f| %>
  <% if @errors %>
    <div id="error_explanation">
      <h2>An error prohibited this product from being saved:</h2>

      <ul>
      <% @errors.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :Name, "Name:" %>
  <%= f.text_field :Name %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
