<%= form_for(:product, @product, form_url) do |f| %>
  <% if @errors %>
    <div id="error_explanation">
      <h2>An error prohibited this product from being saved:</h2>

      <ul>
      <% @errors.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :Name, "Name:" %>
  <div class="input">
  <%= f.text_field :Name %>
  </div>

  <%= f.label :price__c, "Price:" %>
  <div class="input">
  <%= f.text_field :price__c %>
  </div>

  <%= f.label :description__c, "Description:" %>
  <div class="input">
    <%= f.text_area :description__c, :class => "xxlarge", :rows => '4' %>
  </div>

  <%= f.label :image_url__c, "Image:" %>
  <div class="input">
    <%- if url = @product.image_url__c %>
      <%= image_tag url %>
    <% end %>
  <%= f.file_field :image_url__c %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
