<h1>Listing products</h1>

<table class="common-table zebra-striped">
  <tr>
    <th>Name</th>
    <th class="action"></th>
    <th class="action"></th>
    <th class="action"></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.Name %></td>
    <td><%= link_to 'Show', product_path(product) %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product_path(product), 
              :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
