<!DOCTYPE html>
<html>
<head>
  <title>DbComDemo</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.0.min.css">
  <!--  <link rel="stylesheet/less" type="text/css" href="/stylesheets/bootstrap.less"> -->
  <%= javascript_include_tag :defaults, 'less-1.1.3.min.js' %>
  <%= csrf_meta_tag %>
  <style type="text/css">
    div.login_container { margin: 0 auto; width: 500px; }
    form div.input { margin-top: 5px; margin-bottom: 5px; }
    div#masthead { margin-top: 50px; }
    .topbar ul { float: right; }
    th.action, td.action { width: 8% }
  </style>
</head>
<body>
  <div class="topbar">
    <div class="fill">
      <div class="container fixed">
        <h3><a href="/welcome">Products</a></h3>
        <% if logged_in? %>
          <ul>
            <li><%= link_to "Admin", products_path %></li>
            <li><%= link_to "Log out", :controller => "sessions", :action => "logout" %></li>
          </ul>
        <%- end %>
      </div>
    </div>
  </div>

  <div class="container">
    <% if logged_in? %>
      <div id="masthead"></div>
    <%-end %>

    <%= yield %>
  </div>
</body>
</html>
